@using WebApplication1.Models
@using WebApplication1.Databases

@{
    var str = Database.MenuItems;
}
<header>
    header
    <nav>
        <ul>
            @foreach (var item in str) {
                <li>><a asp-controller="@item.Link" asp-action="Index">@item.Title</a></li>
            }
        </ul>
    </nav>
</header>