<header>
    header
    <nav>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
            <li><a asp-controller="Pets" asp-action="Index">Питомцы</a></li>
            <li><a asp-controller="Cats" asp-action="Index">Кошки</a></li>
            <li><a asp-controller="Dogs" asp-action="Index">Собаки</a></li>
            <li><a asp-controller="Adding" asp-action="Index">Доабвить</a></li>
        </ul>
    </nav>
</header>